@use './variable' as *
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap')


html
  font-size: 62.5%

body
  background-color: $white-color
  font-family: 'Raleway', sans-serif

img
  max-width: 100%

a
  color: $font-color
  text-decoration: none

ul,li
  margin: 0
  list-style: none

.boxShadow
  box-shadow: 0 0 10px 0 $gray-color
.radius
  border-radius: 8px

.link
  display: inline-block
  padding: 5px

.contents-wrapper
  padding: 66px 0 0

.content
  min-height: calc(100vh - 94px)
  padding: 0 0 40px
  .limit
    height: calc(100vh - 94px)
    width: 100vw
    overflow: scroll

.limit-m
  max-width: 960px
  width: 100%
  margin: 0 auto

.radius
  border-radius: 8px

.p-5
  padding: 5px
.p-10
  padding: 10px

.pt-5
  padding-top: 5px
.pt-10
  padding-top: 10px

.pb-5
  padding-bottom: 5px
.pb-10
  padding-bottom: 10px

.mr-5
  margin-right: 5px

.ml-5
  margin-left: 5px

.d-n
  display: none
.d-sp-b
  display: none

@media screen and (max-wodth: 960px)
  .d-pc-b
    display: none
  .d-sp-b
    display: block

.d-f
  display: flex

.btn
  display: inline-block
  padding: 8px
  border: 1px solid $gray-color
