@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap";

/* sass/index.sass */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
* {
  padding: 0;
  margin: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  overflow: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: block;
  display: list-item;
}
small {
  font-size: 80%;
}
[hidden],
template {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
input {
  border-radius: 0;
}
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}
[disabled] {
  cursor: default;
}
[type=number] {
  width: auto;
}
[type=search] {
  -webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: bold;
}
button {
  overflow: visible;
}
button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
img {
  border-style: none;
}
progress {
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
::-moz-selection,
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}
img {
  max-width: 100%;
}
a {
  color: #233E59;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  list-style: none;
}
.boxShadow {
  box-shadow: 0 0 10px 0 #cccccc;
}
.radius {
  border-radius: 8px;
}
.link {
  display: inline-block;
  padding: 5px;
}
.contents-wrapper {
  padding: 50px 0 0;
}
.content {
  min-height: calc(100vh - 94px);
  padding: 0 0 40px;
}
.content .limit {
  height: calc(100vh - 94px);
  width: 100vw;
  overflow: scroll;
}
.limit-m {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.radius {
  border-radius: 8px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.d-n {
  display: none;
}
.d-sp-b {
  display: none;
}
@media screen and (max-wodth: 960px) {
  .d-pc-b {
    display: none;
  }
  .d-sp-b {
    display: block;
  }
}
.d-f {
  display: flex;
}
.btn {
  display: inline-block;
  padding: 8px;
  border: 1px solid #cccccc;
}
@keyframes KeyfadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.home {
  background-color: #c9e3fc;
}
.home .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home .content__title {
  flex-wrap: wrap;
  min-width: 420px;
  width: 100%;
  padding: 0 0 10px;
  text-align: center;
  font-size: 2.4vw;
  color: #fff;
}
.home .content__title .aid {
  display: inline-block;
  transition: transform;
  opacity: 0;
  animation: KeyfadeInUp 0.3s ease 0s forwards;
}
.home .content__body {
  display: flex;
  width: 100%;
}
.home .content__body .link-box {
  width: calc(33.33% - 5px);
  margin: 0 5px;
  padding: 10px;
  box-shadow: 0 0 0 1px #fff inset;
  transition: box-shadow 0.3s;
}
.home .content__body .link-box:hover {
  box-shadow: 0 0 0 3px #fff inset;
}
.home .content__body .link-box .aid {
  display: inline-block;
  padding: 0 0 8px;
  font-size: 14px;
}
.home .content__body .link-box .link {
  color: #fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  padding: 10px;
  background-color: #fff;
}
.header__inner {
  text-align: right;
}
.content--make {
  max-height: 100vh;
  padding: 0 0 60px 0;
  overflow: scroll;
}
.frame-content {
  background-color: #fff;
}
.frame-content .title {
  font-size: 3vw;
  color: #cccccc;
}
.frame-content .en {
  font-size: 3.5vw;
}
.frame-content .en.text {
  font-size: 1.2rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer__inner {
  background-color: #fff;
  text-align: center;
}
.footer--select .list {
  display: flex;
  justify-content: end;
}
.footer--select .item {
  max-height: 120px;
  width: 120px;
}
.side {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background-color: #fff;
}
.side .item {
  padding: 5px;
  margin: 0 0 10px;
  transition: box-shadow 0.2s;
}
.side .item.active {
  box-shadow: 0 0 2px 0 #233E59 inset;
}
.side .item:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 0 #233E59 inset;
}
.side .item .caption {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.side .add-box__btn {
  background-color: #233E59;
  color: #fff;
  margin: 0 0 10px;
  cursor: pointer;
}
.open-modal {
  height: 100vh;
  overflow: hidden;
}
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.16);
  text-align: center;
}
.modal--inner {
  padding: 20px;
}
.modal.view {
  display: block;
}
.modal .iframe {
  height: 90vh;
  width: 100%;
  border: none;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  background-color: #fff;
  font-size: 1.4rem;
}
.box--select {
  height: 1200px;
  width: 1200px;
  margin: 0 0 0 240px;
  padding: 10px;
  background-size: 100%;
}
.box--select .card {
  position: relative;
  z-index: 2;
  height: 60px;
  max-width: 60px;
  width: 100%;
  background-color: #fff;
}
.box--select .card:hover {
  cursor: grab;
}
.box--select .card:hover .btn-box {
  display: block;
}
.box--select .card:active {
  cursor: grabbing;
}
.box--select .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  background-color: #233E59;
  font-size: 12px;
  cursor: pointer;
}
.box--select .card .btn-box {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.box--select .card .btn--control {
  font-size: 2rem;
}
.box--select .card .btn--control:hover {
  cursor: pointer;
}
.box--select .card .title {
  margin: 0 0 10px;
  border-bottom: 1px solid #cccccc;
  font-size: 1.4rem;
}
.box--select .card .view.info-box {
  display: block;
}
.box--select .card .info-box {
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
.box--select .card .info-box .title {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.make-image {
  background-color: #fff;
}
.make-image--inner {
  max-width: 960px;
  margin: 0 auto;
}
.make-image .html2canvas {
  position: relative;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 8px 10px 0 #cccccc;
}
.make-image .html2canvas .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
}
.make-image .html2canvas .title {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #cccccc;
  font-size: 20px;
}
.make-image .label {
  display: inline-block;
  cursor: pointer;
}
.make-image .face {
  position: relative;
  min-height: 320px;
  z-index: 1;
}
.make-image .reverce {
  flex-direction: row-reverse;
}
.make-image .item {
  max-width: 50%;
  width: 50%;
  padding: 10px;
}
.make-image .item .text {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.make-image .item .label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 240px;
  background-color: #cccccc;
  font-size: 16px;
  color: #fff;
}
.make-image .item .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.make-image .item .img-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.make-image .item .min-img {
  min-height: 240px;
}
.make-image .item .base-img {
  min-height: 140px;
}
.three3d {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.three3d .btn {
  top: 10px;
  left: 10px;
}
.three3d .add-mesh-box {
  background-color: #fff;
}
.three3d .delete-select .select {
  position: relative;
  height: 20px;
  width: 80px;
  padding: 5px;
  font-size: 14px;
}
.three3d .delete-select .select::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 16px;
  height: 8px;
  width: 8px;
  border-left: 1px solid #233E59;
  border-bottom: 1px solid #233E59;
  transform: rotate(-45deg);
}
.three3d .delete-select .select-number {
  position: relative;
  border: 1px solid #233E59;
  padding: 5px;
}
.three3d .delete-select .select-number:hover {
  cursor: pointer;
}
.three3d .delete-select .list {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 80px;
  padding: 5px;
  background-color: #fff;
}
.three3d .delete-select .list.active {
  display: block;
}
.three3d .delete-select .item:hover {
  background-color: #233E59;
  color: #fff;
  cursor: pointer;
}
.make-threeimage .c-outer .dg.main {
  position: fixed;
  top: 50px;
  right: 0;
}
body .dg.ac {
  z-index: 2;
  top: 50px;
}
.dialog {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  border: none;
  background-color: transparent;
}
.dialog-inner {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.dialog-btns {
  display: flex;
}
.dialog-btns .btn {
  display: inline-block;
}
.dialog .textarea {
  min-height: 280px;
}
[contentEditable],
.input,
.textarea {
  width: 100%;
  padding: 8px;
  outline: none;
  line-height: 1.7;
  transition: box-shadow 0.2s;
}
[contentEditable]:hover,
.input:hover,
.textarea:hover {
  box-shadow: 0 0 0 2px #233E59 inset;
}
.make-image-svg .for_canvas {
  width: 100% !important;
  height: 100% !important;
}
.make-image-svg .face {
  position: relative;
  min-height: 320px;
  z-index: 1;
  background-image: url(./shape-G3R6PN2U.png);
  background-size: cover;
  border: 1px solid #cae7ff;
}
.make-image-svg .svg {
  display: inline-block;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.make-image-svg .svg.active {
  box-shadow: 0 0 0 2px #233E59 inset;
}
/*!
 * * ress.css • v1.2.2
 * * MIT License
 * * github.com/filipelinhares/ress */
/*# sourceMappingURL=index.css.map */
