@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap";

/* sass/index.sass */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
* {
  padding: 0;
  margin: 0;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
hr {
  overflow: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: block;
  display: list-item;
}
small {
  font-size: 80%;
}
[hidden],
template {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
input {
  border-radius: 0;
}
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}
[disabled] {
  cursor: default;
}
[type=number] {
  width: auto;
}
[type=search] {
  -webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: bold;
}
button {
  overflow: visible;
}
button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button,
select {
  text-transform: none;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select::-ms-value {
  color: currentColor;
}
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
img {
  border-style: none;
}
progress {
  vertical-align: baseline;
}
svg:not(:root) {
  overflow: hidden;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled] {
  cursor: default;
}
::-moz-selection,
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}
img {
  max-width: 100%;
}
a {
  color: #233E59;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  list-style: none;
}
.boxShadow {
  box-shadow: 0 0 10px 0 #cccccc;
}
.radius {
  border-radius: 8px;
}
.link {
  display: inline-block;
  padding: 5px;
}
.content {
  min-height: calc(100vh - 94px);
  padding: 0 0 40px;
}
.content .limit {
  height: calc(100vh - 94px);
  width: 100vw;
  overflow: scroll;
}
.limit-m {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
.p-10 {
  padding: 10px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  padding: 10px;
  background-color: #fff;
}
.header__inner {
  text-align: right;
}
.content--make {
  max-height: 100vh;
  padding: 50px 0 60px 0;
  overflow: scroll;
}
.frame-content .title {
  font-size: 3vw;
  color: #cccccc;
}
.frame-content .en {
  font-size: 3.5vw;
}
.frame-content .en.text {
  font-size: 1.2rem;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer__inner {
  background-color: #fff;
  text-align: center;
}
.footer--select .list {
  display: flex;
  justify-content: end;
}
.footer--select .item {
  max-height: 120px;
  width: 120px;
}
.side {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background-color: #fff;
}
.side .item {
  padding: 0 0 20px;
  transition: box-shadow 0.2s;
}
.side .item.active {
  box-shadow: 0 0 2px 0 #233E59 inset;
}
.side .item:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 0 #233E59 inset;
}
.side .item .caption {
  padding: 0 0 10px;
}
.side .add-box__btn {
  background-color: #233E59;
  color: #fff;
  margin: 0 0 10px;
  cursor: pointer;
}
.open-modal {
  height: 100vh;
  overflow: hidden;
}
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.16);
  text-align: center;
}
.modal--inner {
  padding: 20px;
}
.modal.view {
  display: block;
}
.modal .iframe {
  height: 90vh;
  width: 100%;
  border: none;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  background-color: #fff;
  font-size: 1.4rem;
}
.box--select {
  height: 1200px;
  width: 1200px;
  margin: 0 0 0 240px;
  padding: 10px;
  background-size: 100%;
}
.box--select .card {
  position: relative;
  height: 60px;
  max-width: 60px;
  width: 100%;
}
.box--select .card .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.box--select .card .btn--control {
  font-size: 2rem;
}
.box--select .card .btn--control:hover {
  cursor: pointer;
}
.box--select .card .title {
  margin: 0 0 10px;
  border--bottom: 1px solid #cccccc;
  font-size: 1.4rem;
}
.box--select .card .view.info-box {
  display: block;
}
.box--select .card .info-box {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  height: 240px;
  width: 320px;
  padding: 10px;
  background-color: #fff;
}
/*!
 * * ress.css • v1.2.2
 * * MIT License
 * * github.com/filipelinhares/ress */
/*# sourceMappingURL=index.css.map */
